[Desktop Entry]
Name=SDR
Comment=Session Directory Tool
Comment[pl]=Narzędzie dostępu do sesji multicastowych
Exec=sdr
Terminal=false
Type=Application
Icon=sdr
# vi: encoding=utf-8
